<div class="login-container ">
    <div class="row">
        <div class=" col-md-6 mx-auto mt-5">


            <div class="text-center   text-white">
                <div class="text-center   text-white">
                    <h2>Registrate!</h2>
                </div>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="form-group">
                    <label class="text-white" for="email">Correo electrónico:</label>
                    <input type="email" class="form-control form-control-md  text-white" formControlName="email" placeholder="mail@dragon.com" required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" id="pnombre">
                </div>
                <div class="form-group">
                    <label class="text-white" for="password">Password</label>
                    <input class="text-white form-control" type="password" formControlName="password" placeholder="****" required id="pnombre">
                </div>
                <button class="text-white" type="submit" class="btn btn-dark btn-lg btn-block">Register</button>

            </form>
            <div class="form-group mt-3 ">
                <p class="text-white ">Tienes una cuenta? <a [routerLink]="[ '/login'] "> Login</a></p>
            </div>



        </div>
    </div>
</div>