.login-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/img/fondos/r.jpg");
    background-size: cover;
    background-position: right;
}

#pnombre::placeholder {
    color: white;
}